<div id="<%= dom_id secured_asset %>">
  <p>
    <strong>Account number:</strong>
    <%= secured_asset.account_number %>
  </p>

  <p>
    <strong>Cash:</strong>
    <%= secured_asset.cash %>
  </p>

</div>
