<h1>Editing secured asset</h1>

<%= render "form", secured_asset: @secured_asset %>

<br>

<div>
  <%= link_to "Show this secured asset", @secured_asset %> |
  <%= link_to "Back to secured assets", secured_assets_path %>
</div>
